<p></p>
 <h1 class="title2">
     DALLAS MUST GO PLACES
 </h1>
<div class="hero-body">
       <h1 class="title">
        7. White Rock Lake Park
       </h1>
       <p class="pic">
       <br>
       <img src="https://www.dallasparks.org/ImageRepository/Path?filePath=%2F00000000-0000-0000-0000-000000000000%5C32%5C40%2FWhite+Rock+Lake_201404091630115099.jpg" width="625" height="450">
          </p>
       <p class="subtitle">
        White Rock Lake Park is almost 2,000 acres including White Rock Lake, hiking and biking trails, blackland prairie, picnic areas and event spaces. White Rock Lake history is rich and varied. From the arrival of settlers through the creation of the reservoir and its evolution from water source to park it has changed a lot over the years!
     </p>
     <p class="link">
      For more information click <a href="https://whiterocklake.org">here.</a>
   </p>
</div>
<div class="hero-body">
       <h1 class="title">
        6. Dallas Zoo 
       </h1>
       <p class="pic">
       <br>
       <img src="https://visitdallas-sv.imgix.net/crm/dallas/Dallas_Dallas_Zoo_3_SlK3-BLDjV8BIEN1z4KUEhu18q0ABlZBh0-6c0fee4e5056b3a_6c0fef54-5056-b3a8-49c7608af9a09c1a.jpg?w=800&h=600&fit=fill&crop=edges,faces&q=60&fm=pjpg&dpr=3&auto=compress,format,redeye&trim=auto" width="625" height="450"> 
          </p>
       <p class="subtitle">
        Dallas Zoo is a 106-acre zoo located 3 miles south of downtown Dallas, Texas, in Marsalis Park. Established in 1888, it is the oldest and largest zoological park in Texas and is managed by the non-profit Dallas Zoological Society. It is home to over 2,000 animals representing 406 species.
     </p>
     <p class="link">
      For more information click <a href="https://www.dallaszoo.com/">here.</a>
   </p>
</div>
<div class="hero-body">
     <h1 class="title">
        5. Dallas Arts District
     </h1>
     <p class="pic">
     <br>
     <img src="https://upload.travelawaits.com/ta/uploads/2021/04/dallas-arts-district-dallas812a24-800x800.jpg" width="600" height="450"> 
        </p>
     <p class="subtitle">
        The Arts District is Downtown’s cultural hub, known for the strikingly angular Meyerson Symphony Center, the lavish Winspear Opera House and the Dallas Museum of Art, with its vast collection spanning ancient times to the present. 
   </p>
   <p class="link">
      For more information click <a href="https://www.dallasartsdistrict.org/">here.</a>
   </p>
</div>
<div class="hero-body">
     <h1 class="title">
        4. Klyde Warren Park
     </h1>
     <p class="pic">
     <br>
     <img src="https://klydewarrenpark.imgix.net/about/yoga_10.jpg?or=0&q=60&crop=faces%2Centropy%2Ccenter&auto=format&fm=jpeg&fit=crop&w=412&h=250" width="600" height="450"> 
        </p>
     <p class="subtitle">
        Klyde Warren Park is a 5.2-acre public park in Downtown Dallas, Texas. The park is over the Woodall Rodgers Freeway, and opened in 2012. It is named for Klyde Warren, the young son of billionaire Kelcy Warren who donated $10 million to the development of the park.
   </p>
   <p class="link">
      For more information click <a href="https://www.klydewarrenpark.org/">here.</a>
   </p>
</div>
<div class="hero-body">
     <h1 class="title">
        3. Dallas Museum of Art 
     </h1>
     <p class="pic">
     <br>
     <img src="https://resnicow.com/sites/default/files/styles/medium/public/content/client/83/images/fieldclientimage/dma_institutional_2.jpg?itok=zItdZ4GG" width="600" height="450"> 
        </p>
     <p class="subtitle">
        The Dallas Museum of Art is an art museum located in the Arts District of downtown Dallas, Texas, along Woodall Rodgers Freeway between St. Paul and Harwood. In 1984, the museum moved from its previous location in Fair Park to the Arts District.
   </p>
   <p class="link">
      For more information click <a href="https://dma.org/">here.</a>
   </p>
</div>
<div class="hero-body">
     <h1 class="title">
        2. Perot museum
     </h1>
     <p class="pic">
     <br>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Perot_Museum_Alamosaurus.jpg/1024px-Perot_Museum_Alamosaurus.jpg" width="600" height="450"> 
        </p>
     <p class="subtitle">
        The Perot Museum of Nature and Science is a natural history and science museum located in Dallas, Texas. It consists of two campuses: the primary campus located in Victory Park, and a secondary campus in Fair Park. The Victory Park campus museum was named in honor of Margot and Ross Perot.
   </p>
   <p class="link">
      For more information click <a href="https://www.perotmuseum.org/">here.</a>
   </p>
</div>
<div class="hero-body">
     <h1 class="title">
        1. Reunion Tower
     </h1>
     <p class="pic">
     <br>
     <img src="https://visitdallas-sv.imgix.net/crm/dallas/Signature-Shot_Light_40428197-C0A9-4AAB-9DC0D8C24CCC654F_be00303c-c8c2-4502-93ae3f1321a88f2b.jpg?w=800&h=600&fit=fill&crop=edges,faces&q=60&fm=pjpg&dpr=3&auto=compress,format,redeye&trim=auto" width="400" height="550" width="600" height="450"> 
        </p>
     <p class="subtitle">
        Reunion Tower is a 561 ft observation tower in Dallas, Texas and one of the city's most recognizable landmarks. Located at 300 Reunion Boulevard in the Reunion district of downtown Dallas, the tower is part of the Hyatt Regency Hotel complex, and is the city's 15th tallest building.
   </p>
   <p class="link">
      For more information click <a href="https://reuniontower.com/">here.</a>
   </p>
</div>
