.title2{ 
    font-size:30px;
    background-color: rgb(245, 235, 208);
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.title{
    font-size:24px;
    display: flex;
    justify-content: center;
}
.subtitle{
    padding:22px;
}
.link{
    padding:22px;
    margin:0px;
    margin-top: -35px;
    margin-bottom: -10px
}
.hero-body{
    border:5px solid rgb(247, 230, 185, 0.993);
}
.pic{
    display: flex;
    justify-content: center;
}
.space{
    color:white;
    font-size: 50px;
}
.rank{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
