<p></p>
<section class="hero is-primary is-bold 
has-text-centered">
    <div class="hero-body">
      <p class="title">
        ABOUT ME!
      </p>
      <p class="subtitle">
        Hello! my name is Michelle and I have traveled all around the United States for my job at CITIGroup. Recently, my job has given me the opportunity to travel to Dallas, Texas and Jacksonville, Florida in order to meet new clients. During my time in these cities I will be exploring local hotspots and ranking them by their popularity. I hope that this blog is able to help tourists, and locals, have a good time when visiting these cities.

      </p>
    </div>
  </section>
