.title{ 
    font-size:25px;
    background-color: rgba(175, 45, 73, 0.993);
    display: flex;
    justify-content: center;

} 
.subtitle{
    padding:20px;
}
.hero-body{
    border:3px solid rgb(168, 107, 107);
}
